on:
  push:
    types: [created]
    branches: 
      - '*'
jobs:
    createPullRequest:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3

        - name: Make changes to pull request
          run: date +%s > report.txt

        - name: Create Pull Request
          id: cpr
          uses: peter-evans/create-pull-request@v4
          with:
            token: ${{ secrets.PAT }}
            commit-message: Update report
            committer: GitHub <noreply@github.com>
            author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
            delete-branch: true
            labels: |
              report
              automated pr
            team-reviewers: |
              owners
              maintainers
            draft: false
